<script id="groupFilterTemplate" type="text/x-jsrender">
    <div class="modal-dialog groupFilterComp">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="xx">维度选择</h4>
        </div>
        <div class="modal-body">
          <div class="row">
          <div class="col-sm-12" >比较信息</div>
          <div class="col-sm-12 icheck">
            {{for groupdata ~parenttemp=tempcontent}}
      {{if selectable==1}}
            <div class="minimal{{if #index%4==1}}-red{{else #index%4==2}}-green{{else #index%4==3}}-blue{{/if}} single-rows groupFilter" {{if (~parenttemp.groupFilter.element !=null)&&(~parenttemp.groupFilter.element !="")}}{{if ~parenttemp.groupFilter.element !=columname}}style="display:none"{{/if}}{{/if}}>
                <div class="checkbox ">
                    <input type="checkbox" data-value="{{>columname}}" {{if ~parenttemp.groupFilter.element ==columname}}checked{{/if}} class="groupFilterInput">
                    <label>{{>displayname}}</label>
                </div>
            </div>
      {{/if}}
            {{/for}}
          </div>
          
<!--
          {{for groupdata ~parenttemp=tempcontent}}
      {{if selectable==1}}
          <div class="col-sm-12 icheck groupOptions {{>columname}}" {{if ~parenttemp.groupFilter.element !=columname}}style="display:none"{{/if}}>
            {{for optionalItems}}
            <div class="minimal{{if #index%4==1}}-red{{else #index%4==2}}-green{{else #index%4==3}}-blue{{/if}}">
                <div class="checkbox ">
                    <input type="checkbox" data-value="{{>#data}}" {{if ~exsits(#data, ~parenttemp.groupFilter.value)}}checked{{/if}} class="groupFilterDetailInput">
                    <label>{{>#data}}</label>
                </div>
            </div>
            {{/for}}
          </div>
      {{/if}}
          {{/for}}
-->


          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary modalgroupfiltersave">保存修改</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </script>
