<script id="othersFunctionTemplate" type="text/x-jsrender">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">其他功能</h4>
        </div>
        <div class="modal-body">
          <div class="row">
          <div class="col-sm-12">计算平均度量值</div>
          	<div class="col-sm-12 icheck">
                 {{for groupdata ~parenttemp=tempcontent}}
	                 <div class="minimal{{if #index%4==1}}-red{{else #index%4==2}}-green{{else #index%4==3}}-blue{{/if}} single-row " style="width:auto">
	                      <div class="checkbox ">
	                            <input tabindex="3" type="checkbox"  class="firstGroup headcount" data-value="{{>columname}}" {{if columname== ~parenttemp.headcount}}checked{{/if}}>
	                            <label>{{>displayname}}</label>
	                      </div>
	                 </div>
                 {{/for}}
          	</div>
          </div>


          <div class="row">
          <div class="col-sm-12">聚合数据</div>
          <div class="col-sm-12 icheck">
             <div class="col-md-5 dataSource-col">
              <div style="padding-top:7px">
            	    <div class="slide-toggle" style="padding-bottom:10px">
                          <input type="checkbox" class="js-switch-blue" {{if tempcontent.aggregate==1}}checked{{/if}} id="aggregate"/>
                          <span style="padding-left: 10px;" class="ioslabel" displayname="聚合数据">是否聚合</span>
                    </div>
                </div>              
              </div>
          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary othersFunctionSave" data-main="{{>uuid}}">保存修改</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </script>

